@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* reset styles streamlit */

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

ul{list-style-type: none;}
hr{
    margin-top: 0px;
    margin-bottom: 5%;
    background-color: #61aefb;
}


*{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

a{
    text-decoration: none;
    
    font-weight: 500;
    text-align: center;
}

a:hover{
    color: #7fbfff !important;
    text-decoration: none;
}

.social-link {
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 20px;
}


/* styles pour la liste des competences */
.hover-content {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}
.details {
    visibility: hidden;
    position: absolute;
    background-color: #d9ecff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    width: 200px;
    top: 125%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hover-content:hover .details {
    visibility: visible;
    opacity: 1;
}
.title {
    font-weight: bold;
    color: #ffffff;
}
.vertical-list {
    display: flex;
    flex-direction: column;
}